<div class="card" [class.favorite]="film.isFavorite">
  <a [routerLink]="['/film', film.id]">
    <img [src]="film.posterUrl" [alt]="film.title" />
    <div class="card-info">
      <h3>{{ film.title }}</h3>
      <p class="meta">{{ film.year }} · {{ film.genre }}</p>
      <p class="rating"><i class="fa-solid fa-star"></i> {{ film.rating }} / 10</p>
      <p class="duration"><i class="fa-solid fa-clock"></i> {{ film.duration | durationPipe }}</p>
    </div>
  </a>
  <button type="button" (click)="toggleFavorite()">
    @if (film.isFavorite) {
      <i class="fa-solid fa-heart"></i> Remove from favorites
    } @else {
      <i class="fa-regular fa-heart"></i> Add to favorites
    }
  </button>
</div>
